
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Saira Condensed", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f14;
}

.parent{
    width: 420px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: #1a1a22;
    border: 2px solid #4fc3f7;
    box-shadow: 0 10px 25px rgba(79,195,247,0.25);
}

#clock{
    display: flex;
}

#clock1{
    display: flex;
    align-items: center;
}

h1{
    font-size: 70px;
    color: #f5f5f5;
}

#date{
    font-size: 22px;
    margin-left: 90px;
    color: #b0bec5;
}

#day{
    font-size: 32px;
    padding-left: 10px;
    color: #4fc3f7;
}


